<ul>
  <% @movies.each do |movie| %>
  <li>
    <p><strong><%= movie.title %></strong> (<%= movie.rating %>): <%= total_gross(movie) %>, released <%= movie.released_on.year %></p>
    <p><%= truncate(movie.description, length: 40, separator: ' ') %>
    </p>
  </li>
  <% end %>
</ul>
