<% @movies.each do |movie| %>
  <section class="movie">
    <a class="summary" href="movies/<%= movie.title %>">
      <h2>
        <%= movie.title %>
      </h2>
      <h3>
        <%= total_gross(movie) %>
      </h3>
      <%= image_tag(safe_title(movie), class: 'movie-poster') %>
      <p>
        <%= truncate(movie.description, length: 150, separator: ' ') %>
      </p>
    </a>
  </section>
<% end %>
